@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1, .xxl{
        font-size:4.765rem;
    }
    h2, .xl {
        font-size: 2.945rem;
    }
    h3, .lar {
        font-size: 2.618rem;
    }
    h4, .med  {
        font-size: 1.82rem;
    } 
    h5, .sma{
        font-size: 1.618rem;    
    }
    body, h6 {
        font-size: 1.125rem;
    }
}