---
import BaseHead from "../components/base/BaseHead.astro";
import Header from "../components/base/Header.astro";
import Footer from "../components/base/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead title="Search" description="Find what you are looking for" />
  </head>
  <body class="bg-white-50 dark:text-white-50 dark:bg-black-900">
    <Header />
    <main>
      <div class="grid grid-cols-12 margin-top-sma">
        <div class="md:col-start-5 md:col-span-6 col-span-10 col-start-2">
          <h1>Search for anything</h1>

          <div id="search"></div>
          <script>
            // @ts-expect-error
            import { PagefindUI } from "@pagefind/default-ui";
            window.addEventListener("DOMContentLoaded", () => {
              new PagefindUI({
                element: "#search",
                showSubResults: true,
                autofocus: true,
                showImages: false,
              });
              const el = document.querySelector(".pagefind-ui");
              const input =
                el?.querySelector<HTMLInputElement>(`input[type="text"]`);
              const clearButton = el?.querySelector(
                ".pagefind-ui__search-clear"
              );
              // Check if the current URL has any query params
              const url = new URL(window.location.href);
              const params = new URLSearchParams(url.search);
              const query = params.get("q");

              // If query exists on page load
              if (query && input) {
                input.value = query;
                input.dispatchEvent(new Event("input", { bubbles: true }));
              }
              input?.addEventListener("input", (e) => {
                const input = e.target as HTMLInputElement;
                const url = new URL(window.location.href);
                const params = new URLSearchParams(url.search);
                params.set("q", input.value);
                window.history.replaceState(
                  {},
                  "",
                  `${url.pathname}?${params}`
                );
              });
              clearButton?.addEventListener("click", () => {
                const url = new URL(window.location.href);
                const params = new URLSearchParams(url.search);
                params.delete("q");
                window.history.replaceState({}, "", `${url.pathname}`);
              });
            });
          </script>
        </div>
      </div>

      <Footer />

      <!-- Article Body End -->
    </main>
  </body>
</html>
