---
import { AstroFont } from "astro-font";

// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <AstroFont
      config={[
        {
          name: "Poiret",
          src: [
            {
              style: "normal",
              weight: "400",
              path: "/fonts/poiret-one-v16-latin-regular.woff2",
            },
          ],
          preload: true,
          display: "swap",
          selector: "h1",
          fallback: "arial",
        },
        {
          name: "Ouroboros",
          src: [
            {
              weight: "400",
              style: "normal",
              path: "/fonts/Ouroboros-Regular.woff2",
            },
          ],
          preload: true,
          display: "swap",
          selector: "#LTUAE",
          fallback: "arial",
        },
        {
          name: "Righteous",
          src: [
            {
              weight: "400",
              style: "normal",
              path: "/fonts/righteous-v13-latin-regular.woff2",
            },
          ],
          preload: true,
          display: "swap",
          selector: ".logo",
          fallback: "arial",
        },
      ]}
    />
    <title>Typography Test</title>
  </head>
  <body>
    <h1>Heading One</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo
      integer malesuada nunc vel risus commodo viverra. Adipiscing enim eu
      turpis egestas pretium. Euismod elementum nisi quis eleifend quam
      adipiscing. In hac habitasse platea dictumst vestibulum. Sagittis purus
      sit amet volutpat. Netus et malesuada fames ac turpis egestas. Eget magna
      fermentum iaculis eu non diam phasellus vestibulum lorem. Varius sit amet
      mattis vulputate enim. Habitasse platea dictumst quisque sagittis. Integer
      quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit
      amet.
    </p>
    <h2 class="gradient-text">Heading Two</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo
      integer malesuada nunc vel risus commodo viverra. Adipiscing enim eu
      turpis egestas pretium. Euismod elementum nisi quis eleifend quam
      adipiscing. In hac habitasse platea dictumst vestibulum. Sagittis purus
      sit amet volutpat. Netus et malesuada fames ac turpis egestas. Eget magna
      fermentum iaculis eu non diam phasellus vestibulum lorem. Varius sit amet
      mattis vulputate enim. Habitasse platea dictumst quisque sagittis. Integer
      quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit
      amet.
    </p>
    <h3>Heading Three</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo
      integer malesuada nunc vel risus commodo viverra. Adipiscing enim eu
      turpis egestas pretium. Euismod elementum nisi quis eleifend quam
      adipiscing. In hac habitasse platea dictumst vestibulum. Sagittis purus
      sit amet volutpat. Netus et malesuada fames ac turpis egestas. Eget magna
      fermentum iaculis eu non diam phasellus vestibulum lorem. Varius sit amet
      mattis vulputate enim. Habitasse platea dictumst quisque sagittis. Integer
      quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit
      amet.
    </p>
    <h4>Heading Four</h4>
    <h5>Heading Five</h5>
    <h6>Heading Six</h6>

    An Unordered list
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>
        Item 3
        <ul>
          <li>a</li>
          <li>b</li>
        </ul>
      </li>
    </ul>

    An Ordered List
    <ol>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>
        Item 3
        <ol>
          <li>a</li>
          <li>b</li>
        </ol>
      </li>
    </ol>

    This is a blockquote
    <blockquote>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorem nemo
      tempore fugiat? Dolores atque possimus reiciendis ipsam quaerat
      necessitatibus magnam et! Similique veritatis explicabo magni obcaecati
      reprehenderit temporibus sapiente.
      <cite>Victor Hugo</cite>
    </blockquote>

    This is an image
    <div style="margin:5em 5em">
      <figure>
        <img src="https://picsum.photos/id/30/300" alt="Mug on a table" />
        <figcaption>this is a mug on a table.</figcaption>
      </figure>
    </div>
    <p>
      <pre>
This is some text written in a pre tag.
  </pre>
    </p>
    <p>
      <code> This is code. &lt;hr /&gt; </code>
    </p>
    <p>
      Use <kbd>Ctrl</kbd> + <kbd>v</kbd> to paste.
    </p>
    <p>
      <small>This is small text</small>
    </p>
    <p>
      <div class="btn">
        <button>This is a button</button>
      </div>
      <p>
        <p>
          <small><time>May 23 2024</time></small>
        </p>
        <p>
          <a href="https://beautyofmathematics.com">This is a link</a>
        </p>
      </p>
    </p>
  </body>
</html>
