---
import BaseHead from "../components/base/BaseHead.astro";
import Header from "../components/base/Header.astro";
import Footer from "../components/base/Footer.astro";
import FancyBlockquote from "../components/typography/FancyBlockquote.astro";
import RegBlockquote from "../components/typography/RegBlockquote.astro";
import ImageAlign from "../components/typography/ImageAlign.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="Typography Test"
      description="A page to test typography styling"
    />
  </head>
  <body class="bg-white-50">
    <Header />
    <div class="grid grid-cols-12 mt-5">
      <!-- Article Body  -->
      <div class="md:col-span-2 md:col-start-2"></div>
      <!-- End Table of Contents -->
      <div
        class="md:col-start-5 md:col-span-6 col-span-10 col-start-2"
        id="single-article"
      >
        <!-- Author Bio End -->
        <h1>Heading One</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae
          ultricies leo integer malesuada nunc vel risus commodo viverra.
          Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis
          eleifend quam adipiscing. In hac habitasse platea dictumst vestibulum.
          Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis
          egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum
          lorem. Varius sit amet mattis vulputate enim. Habitasse platea
          dictumst quisque sagittis. Integer quis auctor elit sed vulputate mi.
          Dictumst quisque sagittis purus sit amet.
        </p>
        <h2>Heading Two</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae
          ultricies leo integer malesuada nunc vel risus commodo viverra.
          Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis
          eleifend quam adipiscing. In hac habitasse platea dictumst vestibulum.
          Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis
          egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum
          lorem. Varius sit amet mattis vulputate enim. Habitasse platea
          dictumst quisque sagittis. Integer quis auctor elit sed vulputate mi.
          Dictumst quisque sagittis purus sit amet.
        </p>
        <h3>Heading Three</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae
          ultricies leo integer malesuada nunc vel risus commodo viverra.
          Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis
          eleifend quam adipiscing. In hac habitasse platea dictumst vestibulum.
          Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis
          egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum
          lorem. Varius sit amet mattis vulputate enim. Habitasse platea
          dictumst quisque sagittis. Integer quis auctor elit sed vulputate mi.
          Dictumst quisque sagittis purus sit amet.
        </p>
        <h4>Heading Four</h4>
        <h5>Heading Five</h5>
        <h6>Heading Six</h6>

        <p>An Unordered list</p>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>
            Item 3
            <ul>
              <li>a</li>
              <li>b</li>
            </ul>
          </li>
        </ul>

        <p>An Ordered List</p>
        <ol>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>
            Item 3
            <ol>
              <li>a</li>
              <li>b</li>
            </ol>
          </li>
        </ol>

        <p>This is a blockquote</p>
        <blockquote>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorem
          nemo tempore fugiat? Dolores atque possimus reiciendis ipsam quaerat
          necessitatibus magnam et! Similique veritatis explicabo magni
          obcaecati reprehenderit temporibus sapiente.
          <span class="attribution">Victor Hugo</span>
        </blockquote>

        <p>This is an image</p>

        <ImageAlign
          src="https://picsum.photos/id/30/300"
          alt="mug on a table"
          caption=" This is a mug on a table"
          align="caption-left"
        />
        <p>
          <a href="https://beautyofmathematics.com">This is an external link</a>
          and some text <a href="/">An internal link</a>
        </p>
        <FancyBlockquote name="mdi:book-open-variant" cite="Victor Hugo">
          Nothing can stop an idea whose time has come.
        </FancyBlockquote>

        <RegBlockquote cite="Susan Silver"
          >We must pursue the things that make us the most uncomfortable. They
          have the potential to bring us our greatest loves.</RegBlockquote
        >

        <p>
          <code> This is code. &lt;hr /&gt; </code>
        </p>
        <p>
          Use <kbd>Ctrl</kbd> + <kbd>v</kbd> to paste.
        </p>
        <p>
          <small>This is small text</small>
        </p>
        <p>
          <div class="btn">
            <button>This is a button</button>
          </div>
          <p>
            <p>
              <time>May 23 2024</time>
            </p>
          </p>

          <!-- Article Text and Meta End -->
        </p>
        <Footer />
      </div>
    </div>
  </body>
</html>
