---

---

<h3>SERIES TABLE OF CONTENTS</h3>
<ul>
  <li>
    <a
      href="https://beautyofmathematics.com/the-annotated-numberphile-a-retrospective-by-year/"
      >The Annotated Numberphile a Retrospective by Year</a
    >
  </li>
  <li>
    <a
      href="https://beautyofmathematics.com/annotated-numberphile-the-first-year/"
      >The First Year</a>
  </li>
  <li>1<sup>st</sup> Anniversary</li>
  <li>2<sup>nd</sup> Anniversary</li>
  <li>3<sup>rd</sup> Anniversary</li>
  <li>4<sup>th</sup> Anniversary</li>
  <li>5<sup>th</sup> Anniversary</li>
  <li>6<sup>th</sup> Anniversary</li>
  <li>7<sup>th</sup> Anniversary</li>
  <li>8<sup>th</sup>Anniversary</li>
  <li>9<sup>th </sup>Anniversary</li>
  <li>10<sup>th</sup> Anniversary</li>
  <li>11<sup>th</sup> Anniversary</li>
</ul>
