---
import { getCollection } from "astro:content";

const blogCollection = await getCollection("blog");
const categories = [
  ...new Set(blogCollection.map((blog) => blog.data.categories)),
];
---

<header>
  <nav class="bg-secondary-200 text-black-900 p-10">
    <div class="flex justify-start lg:justify-center gap-11">
      <div class="block lg:hidden">
        <button id="menuButton">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-12 w-12"
            viewBox="0 0 24 24"
            style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"
            ><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg
          >
        </button>
      </div>
      <ul id="menuList" class="hidden lg:flex flex-col lg:flex-row gap-11">
        {
          categories.map((category) => (
            <li>
              <a
                class="lg:border-b-4 lg:border-black-900 hover:text-white-50 text-2xl p-3 lg:p-0 gap-11"
                href={`/category/${category}`}
              >
                {category.replace(/-/g, " ").toUpperCase()}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>
<hr />
