---

---

<div
  class="dark:text-black-900 bg-gradient-to-r dark:from-primary-200 from-primary-600 via-primary-400 to-primary-200 bg-cover bg-center h-screen flex flex-col justify-center md:place-items-start text-center p-5 text-white-50"
>
  <h1 class="text-4xl font-logo lg:text-8xl">Beauty of Mathematics</h1>
  <p class="text-2xl lg:text-5xl p-2">From Math Anxiety to Math Confidence</p>
  <button
    class="outline-1 outline-accent-900 mt-8 md:text-2xl p-2 text-black-900 bg-accent-400 rounded hover:rounded-xl hover:bg-accent-600"
    ><a href="/blog">TAKE ME TO THE BLOG</a></button
  >
</div>
