---
const today = new Date();
---

<hr />
<footer
  id="colophon"
  class="bg-primary-800 dark:bg-black-900 dark:text-slate-300 text-white-50 p-10"
>
  <div class="flex justify-between flex-row items-end">
    <div></div>
    <div>&copy; 2018 - <span id="copy"></span> Suzza Silver</div>
  </div>
</footer>

<script>
  const menuButton = document.getElementById("menuButton");
  const menuList = document.getElementById("menuList");

  menuButton.addEventListener("click", () => {
    menuList.classList.toggle("hidden");
  });
</script>

<script>
  document.querySelector("#copy").textContent = new Date()
    .getFullYear()
    .toString();
</script>
