---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");

const classList = [
  className,
  "lg:text-[1.563rem]",
  "med",
  "visited:text-primary-900",
  "hover:text-secondary-900",
  "px-1",
  { active: isActive },
];
---

<a href={href} class:list={classList} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }

  @media (prefers-color-scheme: dark) {
    a {
      color: #1e88e5;
    }

    a:hover,
    a:visited {
      color: #ec407a;
    }
  }
</style>
