---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <h2
    class="font-logo dark:bg-black-900 dark:text-white-50 text-black-900 bg-secondary-300 p-9 text-5xl lg:text-8xl"
  >
    <a href="/" class="no-underline">Beauty of Mathematics</a>
  </h2>
  <nav class="bg-secondary-200 text-black-900">
    <div class="flex justify-start lg:justify-center p-3 gap-9 lg:gap-11">
      <div class="block lg:hidden">
        <button id="menuButton">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-12 w-12"
            v
            viewBox="0 0 24 24"
            style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"
            ><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg
          >
        </button>
      </div>
      <ul id="menuList" class="hidden lg:flex lg:flex-row lg:gap-11 p-3 gap-9">
        <li><HeaderLink href="/about">About</HeaderLink></li>
        <li><HeaderLink href="/blog">Blog</HeaderLink></li>
        <li>
          <HeaderLink href="mailto:beautyofmathematics@susansilver.net">
            Email
          </HeaderLink>
        </li>
        <li><HeaderLink href="/press">Press</HeaderLink></li>
        <li>
          <HeaderLink href="https://www.patreon.com/susansilver">
            Patreon
          </HeaderLink>
        </li>

        <!-- <li>
          <HeaderLink href="/search">
            <span class="flex flex-row"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"
                ><path
                  d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"
                ></path><path
                  d="M11.412 8.586c.379.38.588.882.588 1.414h2a3.977 3.977 0 0 0-1.174-2.828c-1.514-1.512-4.139-1.512-5.652 0l1.412 1.416c.76-.758 2.07-.756 2.826-.002z"
                ></path></svg
              > Search</span
            >
          </HeaderLink>
        </li> -->
        <li>
          <HeaderLink>
            <button
              id="extraButton"
              aria-expanded="false"
              aria-controls="extraList"
              class="flex flex-row"
            >
              <svg
                class="h-6 w-6 fill-black"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                style="transform: ;msFilter:;"
                ><path d="m11.998 17 7-8h-14z"></path></svg
              > Extras</button
            >
          </HeaderLink>
          <div id="extraList" class="hidden" aria-labelledby="extraButton">
            <ul>
              <li><HeaderLink href="/downloads">Cross Stitch</HeaderLink></li>
              <li>
                <HeaderLink href="/hitchhikers-guide-to-the-galaxy">
                  Hitchhiker’s Guide (42)
                </HeaderLink>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <HeaderLink href="https://beautyofmathematics.com/rss.xml">
            RSS
          </HeaderLink>
        </li>
      </ul>
    </div>
  </nav>
</header>
<hr />

<script>
  const extraButton = document.getElementById("extraButton");
  const extraList = document.getElementById("extraList");

  extraButton.addEventListener("click", () => {
    extraList.classList.toggle("hidden");
    extraButton.setAttribute(
      "aria-expanded",
      extraList.classList.contains("hidden") ? "false" : "true"
    );
  });
</script>
