---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const filteredHeadings = headings.filter((heading) => heading.depth <= 2);
---

<nav>
  <ul>
    {
      filteredHeadings.map((heading) => (
        <li>
          <a
            href={`#${heading.slug}`}
            class="text-primary-900 hover:text-secondary-900 visited:text-secondary-900"
          >
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
