---
const { heading } = Astro.props;
---

<li class="margin-xdir-sma">
  <a
    href={"#" + heading.slug}
    class="dark:text-primary-900 dark:hover:text-secondary-900 dark:visited:text-secondary-900"
  >
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul>
        {heading.subheadings.map((subheading: any) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
