:root {
    /* Setting Font Sizes */
    --font-xxl: 4.765rem;
    --font-xl: 2.945rem;
    --font-large: 1.82rem;
    --font-medium: 1.125rem ;
    --font-small:0.695rem;    
    --font-xsmall:0.43rem;
}

/* CSS reset */
* {
    margin:0;
    padding;0
}

html {
    box-sizing: border-box;
    font-size: 16px;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }
  
img {
    max-width: 100%;
    height: auto;
  }

body {
    font-size: var(--font-medium);
}

/* Headings */
h1 {
    font-size: var(--font-xxl); 
}

h2{
    font-size: var(--font-xl);
}

h3{
    font-size: var(--font-large);
}

h4{
    font-size: var(--font-medium);
}

h5 {
    font-size: var(--font-small);
}

h6{
    font-size: var(--font-xsmall);
}

