---
import { Image } from "astro:assets";
const { src, alt, caption } = Astro.props;
---

<div class="text-xs p-2">
  <figure>
    <Image src={src} alt={alt} format="avif" quality="max" class="full-width" />
    <figcaption class="flex justify-center text-xs">{caption}</figcaption>
  </figure>
</div>

<style>
  .full-width {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }
</style>
