---
const { prev, next } = Astro.props;
---

<div class="flex flex-row justify-around items-center box">
  <a href={prev} class="no-underline hover:text-secondary-900"
    ><div class="lar p-3 bg-slate-200 rounded-xl text-black-900 max-w-fit">
      ❮ Prev
    </div>
  </a>
  <a href={next} class="no-underline">
    <div class="lar p-3 bg-slate-200 rounded-xl text-black-900 max-w-fit">
      Next ❯
    </div>
  </a>
</div>
