---
const { next } = Astro.props;
---

<div class="flex flex-row justify-end items-center">
  <a href={next} class="no-underline">
    <div class="lar p-3 bg-slate-200 rounded-xl text-black-900 max-w-fit">
      Next ❯
    </div>
  </a>
</div>
