---

---

<p>
  If you liked that, consider supporting me on Patreon with monthly support
  starting at $1.
</p>

<a href="https://www.patreon.com/susansilver" target="_blank"
  ><button class="w-full">Patreon</button></a
>

<p class="pt-5">
  You can also send me a one time donation via Ko-fi or Paypal.
</p>
<ul class="flex flex-col list-none justify-start gap-3">
  <li>
    <a href="https://ko-fi.com/SuzzaS" target="_blank"
      ><button class="w-full">Ko-fi</button></a
    >
  </li>
  <li>
    <a href="https://paypal.me/SuzzaS" target="_blank"
      ><button class="w-full">Paypal</button></a
    >
  </li>
</ul>
<p>Thank you for your support!</p>
