---

---

<div class="bg-slate-200 rounded-xl p-3">
  <p class="mt-5">
    If you liked that, consider supporting me on Patreon. Even $1 a month can
    help with the costs of website maintenance.
  </p>

  <a href="https://www.patreon.com/susansilver" target="_blank">Patreon</a>

  <p class="pt-5">
    You can also send me a one time donation via Ko-fi or Paypal.
  </p>
  <ul class="flex flex-col list-none justify-start gap-3 p-2">
    <li>
      <a href="https://ko-fi.com/SuzzaS" target="_blank">Ko-fi</a>
    </li>
    <li>
      <a href="https://paypal.me/SuzzaS" target="_blank">Paypal</a>
    </li>
  </ul>
  <p>Thank you for your support!</p>
</div>

<style>
  p {
    /*  max-width: 50ch; */
    text-wrap: balance;
  }
</style>
