---
const { prev } = Astro.props;
---

<div class="flex flex-row justify-start items-center">
  <a href={prev} class="no-underline">
    <div class="lar p-3 bg-slate-200 rounded-xl text-black-900 max-w-fit">
      ❮ Prev
    </div>
  </a>
</div>
