---
import { getCollection } from "astro:content";

import { Image } from "astro:assets";

const allPosts = await getCollection("blog");

// Function to shuffle an array randomly
function shuffleArray(array) {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
}

// Shuffle allPosts array to randomize the order of posts
shuffleArray(allPosts);

// Select the first three posts (or fewer if there are fewer posts)
const selectedPosts = allPosts.slice(0, 3);
---

<h3>Related Posts</h3>

<ul class="list-none">
  {
    selectedPosts.map((post) => (
      <span class="lg:flex lg:flex-row lg:items-center lg:gap-3">
        <li>
          <Image
            src={post.data.thumbnail}
            alt={post.data.heroImage.alt}
            format="avif"
            quality="mid"
            class="hidden lg:flex"
          />
        </li>
        <li>
          <a href={`/${post.slug}`}>{post.data.title}</a>
        </li>
      </span>
    ))
  }
</ul>
