---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/base/BaseHead.astro";
import Header from "../components/base/Header.astro";
import Infinity from "../components/blog/Infinity.astro";
import TOC from "../components/TableOfContents.astro";

interface Props {
  frontmatter: CollectionEntry<"blog">["data"] & {
    heroImage: {
      src: string;
    };
  };
  headings: {
    slug: string;
    text: string;
    depth: number;
  }[];
}

const { frontmatter, headings } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={frontmatter.title}
      description={frontmatter.description}
      image={frontmatter.heroImage.src}
    />
  </head>

  <body class="bg-white-50">
    <Header />
    <main>
      <article>
        <div class="grid grid-cols-12">
          <div class="md:col-span-2 md:col-start-2 md:block hidden">
            <nav class="article-toc sticky top-0">
              {
                headings && headings.length > 0 && (
                  <>
                    <h3>Table of Contents</h3>
                    <TOC headings={headings} />
                  </>
                )
              }
            </nav>
          </div>
          <div
            class="md:col-start-4 md:col-span-8 col-span-10 col-start-2"
            id="single-article"
          >
            <slot />
            <Infinity />
          </div>
        </div>
      </article>
    </main>
  </body><style>
    #single-article {
      max-width: 75ch;
    }
  </style>
</html>
